/* Reset CSS untuk menghilangkan margin dan padding default */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Style Navbar */
nav {
    background-color: #fefafa;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

/* Efek hover */
nav ul li a:hover {
    background-color: rgb(250, 248, 248); /* Ganti dengan warna latar belakang yang Anda inginkan saat hover */
    transition: background-color 1s ease; /* Efek berlangsung selama 3 detik */
}


.navbar {
    background-color: black;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.berita {
    margin-bottom: 30px;
}

.berita h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.berita p {
    font-size: 16px;
    line-height: 1.5;
}

.berita a {
    text-decoration: none;
    color: #090909;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.berita a:hover {
    color: blue;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #040404;
    color: #fff;
}

.kimzz {
    background-color: #040404;
}
